html{
	margin:0px;
	font-family: Abel;
}
body{
	margin:auto;
    height:100%;
}
.footer-section{
	background-color: orange;
	padding-top: 5px;
	font-weight: bold;
	color: #1b96fe;	
}
.footer-section a{
	text-decoration: none;
	color: #1b96fe;
}
.footer-section a:visited{
	color: #1b96fe;
}
.footer-section a:hover{
	color: white;
}
.footer-nav-left{
	text-align: right;
}
.footer-nav-right{
	text-align: left;
}
.footer-right{
	text-align: right;
	font-weight: bold;
}
.footer-left{
	font-size: 120%;
}
.footer-rule{
	margin-top: 0px;
	color:white;
	border-bottom-color: white;
	border-top-color: white;
	border-style: solid;
}
.foot-logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.foot-book{
	margin: 0px;
	margin-left:40%;
	text-align: center;
	font-size: 170%;
}
.number{
	margin-bottom: 5px;
}
.foot-book-number{
	color:white;
}
.logo{
	height: 50px;
	width:50px;
	margin-bottom: 10px;
}
.search{
	padding-top:20px;
	text-align: center;
}
.search-box{
	border-radius: 2px;
	border: none;
	border: 2px solid #1b96fe;
	width: 30%;
}
.search-btn{
	color: #1b96fe;
	border-radius: 2px;
	border: none;
	border: 2px solid #1b96fe;
	background-color: white;
}
.nav-link{
	font-size: 120%;
}
.nav-bar{
	background-color: orange;
	padding-top: 15px;
}
.nav-right{	
	font-weight: bold;
	color: #1b96fe;	
	padding-top:20px;
}
.nav-right a:link{
	text-decoration: none;
}
.nav-right a:visited{
	color: #1b96fe;
}
.nav-right a:HOVER {
	color: white;
}